.layout .topbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0D83ED !important;
}

.layout .topbar .container {
  width: 80%;
  height: 36px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 2.5rem 60px;
}

.topbar .avatar {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
}
.topbar .avatar a {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  border: 1px solid #000;
}
.topbar .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.layout .topbar .avatar .text-block {
  padding-left: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.topbar .section-menu {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.topbar .section-menu a {
  padding: 0 1.5rem;
  font-weight: 500;
  list-style: 1.5rem;
  font-size: 20px;
}

.topbar .text-block .text {
  margin: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif !important;
}

.text-name {
  font-size: 1.1rem;
  font-weight: 600;
}

.text-position {
  padding-top: 4px;
  font-size: 0.9rem;
}

.layout .dropdown-select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
}
