*, html,body, .root { margin: 0; padding: 0; }

.switcher-section {
  display: flex;
  position: relative;
}

.switcher-section .dropdown-select {
  position: absolute;
  top: 30px;
  left: -12px;
  width: 128px;
  height: 90px;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 0px 0;
}

.switcher-section .dropdown-select .lang-item{
  padding: .5rem .8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switcher-section .dropdown-select .lang-item span {
  padding-right: 0.2rem;
  vertical-align: middle;
  color: #000;
  font-weight: 500;
  list-style: 1.5rem;
  font-size: 20px;
  cursor: pointer;
}

.switcher-section .dropdown-lang span{
  padding-right: 0.5rem;
  color: #fff;
  font-weight: 500;
  list-style: 1.5rem;
  font-size: 20px;
  cursor: pointer;
}

.switcher-section img {
  width: 24px;
}
